/*=====================================
          reset default styles
=======================================*/
html {
  font-size: 25px;
}
body {
  margin: 0;
  text-align: center;
  background: url("./img/bg.jpg") no-repeat;
}

h1 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  outline: none;
  cursor: pointer;
}

/*======================================
               main styles
========================================*/
.header {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, .3);
}

.header h1 {
  font-family: 'Sofia', cursive;
}

.logo {
  height: 100%;
  width: 100%;
  max-height: 100px;
  max-width: 100px;
  margin: 0 1rem;
}

.weather{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: darkorange;
  padding: 3rem 0;
}

#weather-summary {
  font-family: 'Sofia', cursive;
  margin: 0;
  padding-bottom: .5rem;
  text-align: center;
  color: #33cc00;
  border-bottom: dashed;
}

.currentDetails {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, .8);
  padding: 1rem 2rem;
  text-align: start;
  border-radius: 25% 0;
}

.currentDetails li {
  border-bottom: 1px solid;
  padding: 10px 5px;
  white-space: nowrap;
}

.weather button {
  background: rgba(0, 0, 0, .5);
  border: 1px solid rgb(255, 133, 51);
  border-radius: 33px;
  color: rgb(255, 133, 51);
  font: 1em sans-serif;
  padding: 15px 30px;
  margin: 40px auto 20px;
  text-align: center;
  white-space: nowrap;
  transition: all;
}

.weather button:hover {
  background: rgba(0, 0, 0, .8);
  transition-duration: 2s;
}
